<% content_for :content do %>
<div class="card">
    <div class="card-header">Je pratique un nouveau sport</div>
        <div class=" card-body">
            <%= render 'form', sport: @sport%>
        </div>
    
</div>
<% end %>
<%= render template: 'layouts/profile' %>