<% content_for :content do %>
    <h1>fil d'actualité</h1>
    
    <div class="row">
    <% @posts.reverse_each do |post| %>
        <%= render post %>
    <% end %>
    </div>
<% end %>
<%= render template: 'layouts/profile'%>